.navbar-nav a {
    font-size: 18px;
}
.logo{
    color: #32174d !important;
}
.te {
    background-color: #32174d !important;
    color: white !important;
}
.te:hover {
    background-color: #43285e !important;
}